{% assign eventslist = site.data['events'] %}

<!-- Events Section -->
    <section id="events" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ site.events-header }}</h2>
                    <h3 class="section-subheading text-muted"> {{ site.events-tagline }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        {% for event in eventslist.events %}
                        {% capture cycle %}{% cycle 'even', 'odd' %}{% endcapture %}
                        <li {% if cycle == 'odd' %} class="timeline-inverted" {% endif %} >
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/publications/{{ event.pic }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{ event.title }}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>
                                    {% if event.year %} {{ event.month }} {{ event.year }} <br> {% endif %}
                                    {% if event.journal %} <a href="{{ event.url }}"> {{ event.journal }} </a><br> {% endif %}
                                    </p>
                                    <p class="text-muted">
                                    {% if event.abstract %} {{ event.abstract }} <br> {% endif %}
                                    {% if event.url %} <a href="{{ event.url }}"> READ MORE </a>  {% endif %}
                                    </p>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part <br>
                                    Of Our <br>
                                    Story!
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
