<!-- About Section -->
    <section id="publications">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ site.publications-header }}</h2>
                    <h3 class="section-subheading text-muted"> {{ site.publications-tagline }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        {% for pub in site.publications %}
                        {% capture cycle %}{% cycle 'even', 'odd' %}{% endcapture %}
                        <li {% if cycle == 'odd' %} class="timeline-inverted" {% endif %} >
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/publications/{{ pub.pic }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{ pub.title }}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>
                                    {% if pub.year %} {{ pub.month }} {{ pub.year }} <br> {% endif %}
                                    {% if pub.journal %} <a href="{{ pub.url }}"> {{ pub.journal }} </a><br> {% endif %}
                                    </p>
                                    <p class="text-muted">
                                    {% if pub.abstract %} {{ pub.abstract }} <br> {% endif %}
                                    {% if pub.url %} <a href="{{ pub.url }}"> READ MORE </a>  {% endif %}
                                    </p>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part <br>
                                    Of Our <br>
                                    Story!
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
