<!DOCTYPE html>
<html>

  {% include head.html %}

    <body id="page-top" class="index">

    {% include header.html %}
    {% include servers.html %}
    <!--{% include projects.html %}-->
    {% include publications.html %}
    {% include team.html %}
    {% include about.html %}
    {% include collaborators.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include servers_pages.html %}
    <!--{% include project_pages.html %}-->
    {% include js.html %}

    </body>
</html>
