<!DOCTYPE html>
<html>

  {% include head.html %}

    <body id="page-top" class="index">

    {% include header.html %}
    {% include collaborators.html %}
    {% include servers.html %}
    {% include projects.html %}
    {% include events.html %}
    {% include about.html %}
    {% include partners.html %}
    {% include collaborators.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include servers_pages.html %}
    {% include project_pages.html %}
    {% include js.html %}

    </body>
</html>
